.head {
  position: relative;
  height: 72px;
  background-color: #21a179; }
  .head .img-head {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .head .head-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%); }
  .head .title-user-name {
    color: white;
    margin-left: 5px; }
