.head {
  position: relative;
  height: 72px;
  background-color: #21a179;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;

  .img-head {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .head-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
  }

  .title-user-name {
    color: white;
    margin-left: 5px;
  }

  .img-logo {
    width: 178px;
    height: auto;
  }

  .drop-down-menu {
    cursor: pointer;
  }

  .fetch-container {
    color: white;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .img-refresh {
    margin-left: .5rem;
  }

  .loading {
    animation: 1s loading infinite both linear;
  }
  
  @keyframes loading {
    0% { transform: rotate(0deg) }
    100% {transform: rotate(365deg)}
  }
  
}