.star {
  height: 100vh;
  overflow: hidden; }

.control-list-container {
  overflow-y: scroll;
  height: 100%;
  padding: 20px 10px; }

.star-list-container {
  overflow-y: scroll;
  height: 100%; }

.content-container {
  height: calc(100vh - 100px); }

.md-container {
  height: calc(100vh - 100px);
  overflow-y: scroll; }
