@import '../../variable.scss';

.star {
  height: 100vh;
  overflow: hidden;
}

.control-list-container {
  overflow-y: scroll;
  height: 100%;
  padding: 20px 10px;
}

.star-list-container {
  overflow-y: scroll;
  height: 100%;
  border-right: 1px solid $borderColor;
}

.content-container {
  height: calc(100vh - 72px);
}

.md-container {
  height: calc(100vh - 72px);
  overflow-y: scroll;
  padding: 1rem;
}