@import '../../variable.scss';

.star-list-item-container {
  display: block;
  border-bottom: 1px solid #dae1e7;
  cursor: pointer;
  box-sizing: border-box;
  padding: 1.15rem;
  flex-direction: column;

  .bottom-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }

  .title-repo {
    color: #21a179;
    font-size: 1rem;
  }

  .title-description {
    font-size: 0.875rem;
    line-height: 1.15;
    color: #3e3e3e;
  }

  .icon-star {
    width: 1rem;
    height: 1rem;
    fill: $grayDark;
  }

  .icon-watch {
    width: 1rem;
    height: 1rem;
    fill: $grayDark;
  }

  .title-star {
    display: flex;
    align-items: center;
  }

  .title-watch {
    margin-left: 1rem;
    display: flex;
    align-items: center;
  }

  .title-info {
    font-size: .75rem;
  }

  .title-language {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5770e0;
    font-size: .75rem;
    color: #fff;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding-bottom: .25rem;
    border-radius: 9999px;
    border: none;
  }

  .tag-container {
    display: flex;
    flex-wrap: wrap;
  }

  .title-href {
    font-weight: 700;
    color: #8795a1;
    font-size: .75rem;
    text-decoration: #8795a1;
    margin-left: 1rem;
    text-decoration: underline #8795a1;
  }

  .title-href:hover {
    text-decoration: none;
  }

  .tag-container-son {
    display: flex;
    flex-wrap: wrap;
  }
}